@{
    Layout = null;
}

<!DOCTYPE html>

<html lang="zh">
<head>
    <title>選擇數字</title>
</head>
<body>
<h2>請選擇數字</h2>
<div>
    <button class="numberBtn">1</button>
    <button class="numberBtn">2</button>
    <button class="numberBtn">3</button>
    <button class="numberBtn">4</button>
    <button class="numberBtn">5</button>
</div>
</body>
</html>