@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome @ViewBag.hereWeGoAgain</h1>
    <h3>Now Time : @ViewBag.NowTime</h3>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <div>
        <h3>WWWRoot Img</h3>
        <img src="~/img/proCat.jpg" alt="Tom Cat Paling Piano">
    </div>
    <div><img src="~/home/img/JerryYes.png" alt=""></div>
</div>